
#quiz-container {
    background-color: #d14848;
    padding: 20px;
    border: 1px solid #342424;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(44, 107, 113, 0.184);
}

#quiz-container h1 {
    color: gold;
}

.question {
    color: red;
    margin-bottom: 20px;
    text-decoration: double;
    background-color: rgb(0, 255, 0);
}

.question h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#login-container, #quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

input, button {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
    background-color: rgb(30, 190, 25);
}

#submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #0056b3;
}