
body {
    background-image: url('https://wallpapers.com/png/vibrant_-holi_-celebration_-background-jedfwckuz9fe03tr-2.html'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#quiz-container {
    background-color: #ce3d3d;
    padding: 20px;
    border: 1px solid #342424;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(44, 107, 113, 0.184);
}

#quiz-container h1 {
    color: gold;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
    margin: 20px auto;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#timer {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.question {
    color: red;
    margin-bottom: 20px;
    text-decoration: double;
    background-color: rgba(0, 251, 255, 0.686);
}

.question h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#login-container, #quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

input, button {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #00eaff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
    background-color: rgba(25, 190, 184, 0.823);
}

#submit-btn {
    background-color: #00f2ff;
    color: #962222;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-btn:hover {
    background-color: #0056b3;
}